{% include "header_mail.html" with title="Dein Passwort für +me" %}

<div class="wrapper">
    <div class="main-content">
        <h1>Du kannst dich nicht mehr bei +me Anmelden?</h1>
        <p>
            Bitte klicke auf den folgenden Link, um dein Passwort zurückzusetzen:<br/>
            <a id="best-link" href="{{ link }}">Hier geht's lang!</a>
        </p>
        <p>
            Solltest du dies nicht angefordert haben, kannst du diese email ignorieren.
        </p>
        <p>
            Bei Fragen oder Problemen melde dich einfach bei uns unter
            <a id="mail-link" href="mailto:{{ support }}">{{ support }}</a>
        </p>
        <p>
            <span id="team">Dein +me-Team</span>
        </p>
    </div>
</div>

{% include "footer_mail.html" %}
